@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #E4E9F7;
    --sidebar-color: #003366;
    --primary-color: #83C5BE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #F8F9FA;
    --secondary-color-light: rgba(132, 139, 200, 0.18);

    /* --- Cores de Notificação --- */
    --color-danger: #ff7782;
    --color-sucess: #41f1b6;
    --color-warning: #ffbb55;

    /* --- Sombra da Caixa --- */
    --box-shadow: 0 2rem 3rem var(--secondary-color-light);

    /* --- Animação de Transição --- */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

.danger {
    color: var(--color-danger);
}

.sucess {
    color: var(--color-sucess);
}

.warning {
    color: var(--color-warning);
}

/* -------------- Menu -------------- */
body {
    height: 100vh;
    background: var(--body-color);
    margin-left: 250px; 
    padding: 20px;
    }
    
   
    @media (max-width: 768px) {
       body {
    margin-left: 0;
    margin-top: 150px; 
       }
    }
    
/*----------Titulo------------*/

header {
  margin: 25px;
}


.titulos h1 {
  font-size: 28px;
  margin-bottom: 8px;
}

.titulos h3 {
  font-size: 14px;
  color: #666;
  font-weight: normal;
}

/************Principal***********/
main {
    padding: 30px;
    max-width: 1200px;
}

/***********Cards***************/
.card{
    background-color: #f3f3f3;
    width: 90%;
}