@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #E4E9F7;
    --sidebar-color: #006D77;
    --primary-color: #83C5BE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #F8F9FA;
    --secondary-color-light: rgba(132, 139, 200, 0.18);

    /* --- Cores de Notificação --- */
    --color-danger: #ff7782;
    --color-sucess: #41f1b6;
    --color-warning: #ffbb55;

    /* --- Sombra da Caixa --- */
    --box-shadow: 0 2rem 3rem var(--secondary-color-light);

    /* --- Animação de Transição --- */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

.danger {
    color: var(--color-danger);
}

.sucess {
    color: var(--color-sucess);
}

.warning {
    color: var(--color-warning);
}

/* -------------- Menu -------------- */
body {
    height: 100vh;
    background: var(--body-color);
    margin-left: 17%;
    
}

/* -------------- Contadores do Dashboard -------------- */
main {
    margin-top: 1.4rem;
}

main .insights {
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    gap: 20px;
    margin-right: 50px;
}

main .insights > div {
    background: white;
    padding: 10px;
    border-radius: 20px;
    margin-top: 1rem;
    margin-left: 30px;
    box-shadow: var(--box-shadow);
}

main .insights > div:hover {
    transform: scale(1.04);
    transition: var(--tran-04);
}

.top-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
}

.info_text h5,
.info_text h1 {
    margin: 0;
    padding: 0;
}

.info_text h5 {
    font-weight: 600;
}

.info_text h1 {
    font-size: 2rem;
    font-weight: bold;
}

main h5 {
    color: rgb(90, 90, 90);
}

main .icone1 {
    background: #006D77;
    padding: 0.5rem;
    border-radius: 30%;
    font-size: 30px;
    color: #fff;
}
main .icone2 {
    background: green;
    padding: 0.5rem;
    font-size: 30px;
    border-radius: 30%;
    color: #fff;
}
main .icone3 {
    background: green;
    padding: 0.5rem;
    font-size: 30px;
    border-radius: 30%;
    color: #fff;
}
main .icone4 {
    background: darkred;
    padding: 0.5rem;
    font-size: 30px;
    border-radius: 30%;
    color: #fff;
}

/* -------------- Documentos a Vencer -------------- */
main .tabelas_secundarias {
    display: flex;
    margin: 2rem 2.3% 0 2.3%;
}

main .tabelas_secundarias > div {
    flex: 1;
}

main .tabelas_secundarias h2 {    
    margin-bottom: 0.5rem;
    color: #006D77;
}

main .alertas_documentos h2 {
    margin: 0;
    font-size: 19px;
    color: #006D77;
}

main .tabelas_secundarias table {
    background: white;
    width: 135%;
    border-radius: 20px;
    padding: 15px;
    box-shadow: var(--box-shadow);
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--secondary-color-light);
}

main table th {
    text-align: left;
}

main .tabelas_secundarias a {
    text-align: left;
    font-weight: 500;
    display: block;
    margin-top: 0.5rem;
    margin-left: 1%;
    color: #006D77;
    text-decoration: none;
}

/* -------------- Tabela de Alertas -------------- */
main .alertas_documentos .alerta-card {
    background: white;
    border-radius: 15px;
    margin-top: 3rem;
    padding: 1.5rem;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-left: 45%;
    height: 240px;
}

main .alerta-header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

main .alerta-icone {
    font-size: 1.8rem;
    color: #006D77;
}

main .alerta-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

main .alerta-status {
    font-size: 4.5rem;
    color: #2F9E44;
}

main .alerta-body p {
    font-size: 1.1rem;
    color: #6C757D;
}