@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #E4E9F7;
    --sidebar-color: #006D77;
    --primary-color: #83C5BE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #F8F9FA;
    --secondary-color-light: rgba(132, 139, 200, 0.18);

    /* --- Cores de Notificação --- */
    --color-danger: #ff7782;
    --color-sucess: #41f1b6;
    --color-warning: #ffbb55;

    /* --- Sombra da Caixa --- */
    --box-shadow: 0 2rem 3rem var(--secondary-color-light);

    /* --- Animação de Transição --- */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

.danger {
    color: var(--color-danger);
}

.sucess {
    color: var(--color-sucess);
}

.warning {
    color: var(--color-warning);
}

/* -------------- Menu -------------- */
body {
    height: 100vh;
    background: var(--body-color);
}

/* -------------- Contadores do Dashboard -------------- */
main {
    margin-top: 1.4rem;
}

main .insights {
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    gap: 20px;
    margin-right: 50px;
}

main .insights > div {
    background: white;
    padding: 10px;
    border-radius: 15px;
    margin-top: 1rem;
    margin-left: 30px;
    box-shadow: var(--box-shadow);
    transition: transform 0.2s, box-shadow 0.2s; /* animação suave */
}

main .insights > div:hover {
    transform: scale(1.04);
    transition: var(--tran-04);
}

.top-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
}

.info_text h5,
.info_text h1 {
    margin: 0;
    padding: 0;
}

.info_text h5 {
    font-weight: 600;
}

.info_text h1 {
    font-size: 2rem;
    font-weight: bold;
}

main h5 {
    color: rgb(90, 90, 90);
}

main .icon1 {
    background: #006D77;
    padding: 0.5rem;
    border-radius: 30%;
    font-size: 30px;
    color: #fff;
}
main .icon2 {
    background: green;
    padding: 0.5rem;
    font-size: 30px;
    border-radius: 30%;
    color: #fff;
}
main .icon3 {
    background: green;
    padding: 0.5rem;
    font-size: 30px;
    border-radius: 30%;
    color: #fff;
}
main .icon4 {
    background: darkred;
    padding: 0.5rem;
    font-size: 30px;
    border-radius: 30%;
    color: #fff;
}

